/*First section*/
.home-wrapper {
    margin: ($base-size * 3.5) auto;
    padding: ($base-size * 6) ($base-size * 4);
    background: $color-light;
    border-bottom: 1px solid lighten($color-dark, 70%);
    border-radius: $radius;
    max-width: 700px;
}
section {
    margin-bottom: 100px;

    &:nth-of-type(3n){
        margin-bottom: 0px;
    }
}
.row {
    height: 100%;
    //border:1px solid blue;
    --bs-gutter-x: 10px;
}

.first-section {
    //border: 2px solid green;
    height: 100px;
    border-radius: 10%;
    margin-bottom: 10px;
    position: relative;
    z-index: 2;

    img {
        width: 100%;
        height: 100%;
        border-radius: $radius;
        cursor: pointer;
        object-fit: cover;             
    }

    .text {
        //border:2px solid black;
        color: $color-light;
        margin: 0 auto;
        font-weight: $font-bold;
        font-family: $font-header;
        line-height: 0.5 ;
        cursor: pointer;
        text-align: center;
        text-transform: uppercase;
        z-index: 1;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .no-image {
        width: 100%;
        height: 100%;
        border-radius: $radius;
        background-color: $color-main;
    }

    .cursor {
        cursor: default;
    }

    h4 {
        font-weight: $font-light;
        font-family: $font-text;
        position: relative;
    }

    h5 {
        font-weight: $font-light;
        font-family: $font-text;
        text-transform: none;
        white-space: nowrap;
        margin-top: 0px;
        top: 160%;
        left: 50%;
        opacity: 0;
        transform: translate(-50%, -50%);
        position: absolute;
    }

    &:hover {
        h5{
            top: 100%;
            opacity: 1;
            transition: opacity 1s, top 1s;
        }
    }
}

/*Second section - Carousel*/
// .main-carousel {
//     freeScroll: true;
//     contain: true;
//     prevNextButtons: false;
//     autoPlay: true;
// }
.carousel-cell {
    //border: 1px solid green;
    width: 100%; /* full width */
    height: 200px; /* height of carousel */
    margin-right: 10px;
}

.carousel-item img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

.carousel-item {
    //border: 2px solid red;
    height: 100%;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
}

.opinion {
    padding: 0 20px;
    font-size: 13px;

    h4 {
        text-transform: uppercase;
    }
    
    p:nth-of-type(2n) {
        font-style: italic;
      }

}

/*Third section*/
.gallery-image {
    //border:1px solid green;
    position: relative;
    z-index: 2;
    
    img {
        width: 100%;
        height: 180px;
        border-radius: $radius;
        object-fit: cover;
    }

    &:hover {
        li {
            visibility: visible;
            //color: $color-main;
        }
    }

}

.gallery-icons {
    //border:2px solid red;
    padding: 0;
    z-index: 2;
    position: absolute;
    top: 41%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    

    li { 
        visibility: hidden;
        color: $color-light;
        list-style-type: none;
        text-align: center;
        font-weight: $font-bold;
        font-size: 20px;
    }

    li:hover {
        color: $color-main;
        cursor: pointer;        
    }

}

.more {
    margin-top: 40px;

    a {
        color: $color-main;
    }
}

